input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
    background-color: #0f4c81;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

.empty-field {
	border-color:red;
}

.empty-field::placeholder{
	color:red;
}

.error-message {
	color:red;
}

.register-link{
	text-align:center;
	margin-top:10px
}

.register-link a{
	text-decoration:none
}

.register-link a:hover{
	text-decoration:underline
}

.login-form{
	width:100%;
	margin:auto
}

h2{
	text-align:center
}

.login-page {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

body {
	background-image: url(image/background/backgroud.jpg);
	background-repeat: no-repeat;
 	background-position: center;
  	background-size: cover;
}

@media screen and (max-width: 600px) {
    .login-page {
        width: 100%;
        margin-top: 50px;
    }
}